body {
	font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
	font-size:100%; 
	
}


p	{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.875em; 
	/*border: thin red solid;*/
	line-height:1.75em;
	
}


h1	{
	font-size: 1.5em; 
	/*border: thin red solid;*/
	line-height:1.5em;
	font-weight: normal; 
}


h2,h3	{
	font-size:1.125em;
	/*border: thin red solid;*/
	font-weight:lighter;
	text-transform:uppercase;
	letter-spacing:0.2em;
}

h3	{
	font-size:0.875em;
	letter-spacing:0.1em;
}

ul	{
	font-size: 0.875em;
	/*background-color: #E5DAB3;*/
	list-style-position: inside;
}

ol	{
	font-size: 0.875em; 
}

#wrap   
{
 
    width:960px;
    border: thin solid black;
    margin: 0 auto;
    background-color: orange;
}

#masthead  
{
    background-color:#FFF;
 
}

#masthead  img
{
    margin-left: 20px;
 
}

#mainnav  
{
    background-color: #666;
    height: 40px;
 
}

#mainnav li
{
 float:left;
 width:170px;
 height:40px;
 background-color:#CCC;
 text-align:center;
 border-left: 1px black solid;
 border-right: 1px black solid;
 line-height:40px;
 
}

#mainnav ul li a 
{
    color:#ffffff;
    text-decoration: none;
    display:block;
}

#mainnav ul li a:hover
{
    background-color :#666666;
    color: #D2CD2F;
}

#innerwrap {


	background-color:white;


}



#innerwrap:after{


	content: ".";


	display: block;


	clear: both;


	height: 0;


	visibility: hidden;


}

#sidebar 
{
    float:right;
    width:300px;
    background-image:url(images/sidebar_bg.png);
    background-repeat:repeat-x;
    border-left: thin solid gray;
   background-color:#FFF;

 
}

#main 
{
    float:left;
    width:600px;
 background-color:#FFF;
 
}

#main li 
{
    margin: 10px 60px;
    list-style: disc;
}

#footer
{
    clear:both;
    background-color:#FFF;
    background-image:url(images/footer_background.jpg);
    background-repeat:no-repeat;
    width:960px;
    height:128px;
    padding-top: 10px;
 
}

#footer p
{
    margin: 10px 0 0 20px;
    width:380px;
    font-family: Verdana, geneva, Sans-Serif;
    font-size: 0.689;
  
}

p, h1, h2, h3 
{
    margin-bottom: 20px;
}

#sidebar p, #sidebar h2, #sidebar h3, #main p, #main h1, #main h2, #main h3
{
    margin-left:20px;
    margin-right:20px;
}

#main p
{
    margin-left:30px;
   
}

#sidebar h2
{
    margin-top:15px;
   
}